/* Tambahkan ini di akhir file styles.css */

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery img {
    width: 100%;
    max-width: 200px; /* Atur lebar maksimum gambar */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
